{
  "plugins": ["prettier-plugin-astro"],
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }]
}
